.btn-trans {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin-top: 2px;
    color: #fff;
    background-color: transparent;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
}

.btn-trans:hover {
    background: #f82249;
    color: #fff;
}

#about .form input {
    padding: 10px 14px;
    border-style: solid;
    border-width: 2px;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

#speakers .hotel {
    border: 1px solid #e0e5fa;
    background: #fff;
    margin-bottom: 30px;
}

#speakers .hotel:hover .hotel-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#speakers .hotel-img {
    overflow: hidden;
    margin-bottom: 15px;
}

#speakers .center {
    text-align: center;
}

#speakers .hotel-img img {
    transition: 0.3s ease-in-out;
}

#speakers h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
}

#speakers h3 small {
    font-style: italic;
    font-size: 14px;
}

#speakers a {
    color: #152b79;
}

#speakers a:hover {
    color: #f82249;
}

#speakers .stars {
    padding: 0 20px;
    margin-bottom: 5px;
}

#speakers .stars i {
    color: #ffc31d;
}

#speakers .hotel p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #060c22;
    font-style: italic;
    font-size: 15px;
}

#speakers .button {
    padding-left: 15px;
    padding-bottom: 15px;
}

#speakers button[type="button"],button[type="submit"] {
    background: #f82249;
    border: 0;
    padding: 6px 22px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}
  
#speakers button[type="button"],button[type="submit"]:hover {
    background: #e0072f;
}

#speakers-details .book {
    background: #f82249;
    border: 0;
    padding: 6px 22px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

#speakers-details .book:hover {
    background: #e0072f;
}

/*--------------------------------------------------------------
# Booking Section
--------------------------------------------------------------*/

#booking {
  padding: 60px 0;
}

#booking .booking-info {
  margin-bottom: 20px;
  text-align: center;
}

#booking .booking-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #f82249;
}

#booking .booking-info address,
#booking .booking-info p {
  margin-bottom: 0;
  color: #112363;
}

#booking .booking-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}

#booking .booking-info a {
  color: #4869df;
}

#booking .booking-info a:hover {
  color: #f82249;
}

#booking .booking-address,
#booking .booking-phone,
#booking .booking-email {
  margin-bottom: 20px;
}

#booking .form #sendmessage {
  color: #f82249;
  border: 1px solid #f82249;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#booking .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#booking .form #sendmessage.show,
#booking .form #errormessage.show,
#booking .form .show {
  display: block;
}

#booking .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#booking .form input,
#booking .form textarea,
#booking .form select {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#booking .form button[type="submit"] {
  background: #f82249;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#booking .form button:disabled,button[disabled] {
  cursor: not-allowed;  
}

#booking .form button[type="submit"]:hover {
  background: #e0072f;
}

#speakers-details .form #sendmessage {
  color: #f82249;
  border: 1px solid #f82249;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#speakers-details .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#speakers-details .form #sendmessage.show,
#speakers-details .form #errormessage.show,
#speakers-details .form .show {
  display: block;
}

#speakers-details .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#speakers-details .form input,
#speakers-details .form textarea,
#speakers-details .form select {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#speakers-details .form button[type="submit"] {
  background: #f82249;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#speakers-details .form button:disabled,button[disabled] {
  cursor: not-allowed;  
}

#speakers-details .form button[type="submit"]:hover {
  background: #e0072f;
}

.speakers {
  background: #f82249;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

.my-button {
  background: #f82249;gallery-carousel
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

.my-button:hover {
  background: #e0072f;
}

.my-button-small {
  background: #f82249;
  border: 0;
  padding: 5px 20px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#gallery {
  padding: 60px 0;
}

#gallery .container table {
  color: #112363;
  font-size: 15px;
}

#gallery .container table .title-price{
  font-style: italic;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

#gallery .container table tr td{
  padding-top: 2px;
  padding-bottom: 2px;
}

